@use "../variables";

.br-about-subtitle3 {
  display: none;

  @media (min-width: variables.$tablet) {
    display: inline;
  }
}

.about {
  width: 100%;
  padding: 62px 16px 0;
  background: variables.$gradient;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  @media (min-width: variables.$desktop) {
    padding-top: 110px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 76px;
    }

    @media (min-width: variables.$desktop) {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 184px;
        left: 3%;
        width: 94%;
        height: 1px;
        background-color: variables.$gray_200;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$tablet) {
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 16px;
    }

    @media (min-width: 820px) {
      margin: 0 calc(16px + 2vw);
    }

    &--second {
      @media (min-width: variables.$tablet) {
        order: -1;
      }
    }
  }

  &__header {
    @include variables.body_medium;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: variables.$gray_600;
    width: 310px;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
    }
  }

  &__photo-328w {
    order: -1;
    width: 328px;
    height: 400px;
    margin: 0 0 48px 0;
    border-radius: 4px;

    @media (min-width: variables.$tablet) {
      display: none;
    }

    @media (min-width: 440px) {
      width: calc(328px + 10vw);
      height: calc(400px + 10vw);
    }

    @media (max-width: 340px) {
      width: 300px;
      height: 380px;
    }

    &--2 {
      display: none;

      @media (min-width: variables.$tablet) {
        display: block;
        width: 330px;
        height: 400px;
      }

      @media (min-width: variables.$desktop) {
        display: none;
      }
    }
  }

  &__photo-567w {
    display: none;
    margin: 0 0 48px 0;

    &--2 {
      @media (min-width: variables.$desktop) {
        display: block;
        width: 567px;
        height: 531px;
      }
    }
  }

  &__subtitle {
    @include variables.header_500;
    margin: 0 0 16px 0;
    color: variables.$gray_700;
    width: 310px;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      margin: 0 0 20px 0;
      width: auto;
      max-width: 330px;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      margin: 0 0 30px 0;
      max-width: 454px;
    }
  }

  &__special {
    @media (min-width: variables.$desktop) {
      color: variables.$success_500;
    }
  }

  &__paragraph {
    @include variables.body_medium;
    color: variables.$gray_600;
    margin: 0 0 16px 0;
    max-width: 400px;
    text-align: justify;

    &--1 {
      width: 292px;

      @media (min-width: variables.$tablet) {
        width: 314px;
      }

      @media (min-width: variables.$desktop) {
        width: 458px;
      }
    }

    &--2 {
      width: 266px;

      @media (min-width: variables.$tablet) {
        width: 292px;
      }

      @media (min-width: variables.$desktop) {
        width: 422px;
      }
    }

    &--3 {
      width: 248px;

      @media (min-width: variables.$tablet) {
        width: 286px;
      }

      @media (min-width: variables.$desktop) {
        width: 374px;
      }
    }

    &--4 {
      width: 310px;

      @media (min-width: variables.$tablet) {
        width: 330px;
      }
    }

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
      margin: 0 0 20px 0;
      max-width: 330px;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 0 30px 0;
      max-width: 568px;
    }
  }

  &__bolder {
    margin: 0 0 62px 0;
    @include variables.header_200;
    color: variables.$gray_700;
    max-width: 400px;
    text-align: justify;
    width: 280px;

    @media (min-width: variables.$tablet) {
      @include variables.header_300;
      margin: 0;
      width: 316px;
      max-width: 330px;
    }

    @media (min-width: variables.$desktop) {
      display: none;
    }

    &--2 {
      display: none;

      @media (min-width: variables.$desktop) {
        display: block;
        max-width: 568px;
        margin-top: 32px;
      }
    }

    &--special {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid variables.$gray_200;
      width: 310px;

      @media (min-width: variables.$tablet) {
        padding-bottom: 38px;
        width: 286px;
      }

      @media (min-width: variables.$desktop) {
        display: block;
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 216px;
        width: 476px;
      }
    }
  }
}