@use "../variables";

.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$white;

  @media (min-width: variables.$tablet) {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 12px;
      background-color: variables.$white;
      position: absolute;
      top: -11px;
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      width: 156px;
      height: 184px;
      position: absolute;
      bottom: -24px;
      right: -50px;
      background-image: url("../assets/icons/shape.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  @media (min-width: variables.$desktop) {
    padding-top: 72px;
  }

  &__header {
    @include variables.body_medium;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: variables.$gray_600;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
    }
  }

  &__subtitle {
    @include variables.header_500;
    margin: 0 0 64px 0;
    max-width: 328px;
    text-align: center;
    color: variables.$gray_700;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      max-width: 420px;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 96px;
        height: 112px;
        position: absolute;
        top: 24px;
        right: -200px;
        background-image: url("../assets/icons/ellipse2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      max-width: 568px;

      &:after {
        top: 0;
        right: -360px;
      }
    }
  }

  &__list {
    width: 100%;
    margin: 0 0 24px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: variables.$tablet) {
      width: auto;
      display: grid;
      grid-template-columns: 330px 330px;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 44px;
      margin: 0 0 68px 0;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: variables.$success_100;
        position: absolute;
        top: 56px;
        left: 20px;
      }

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: variables.$success_100;
        position: absolute;
        top: 29%;
        right: 16px;
      }
    }

    @media (min-width: variables.$desktop) {
      grid-template-columns: 330px 330px 330px;
      grid-template-rows: 1fr 1fr;
      column-gap: 40px;
      row-gap: 48px;

      &:before {
        top: 200px;
        left: 160px;
      }

      &:after {
        top: 40%;
        right: 172px;
      }
    }
  }

  &__item {
    list-style: none;
    margin-bottom: 30px;

    @media (min-width: variables.$tablet) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 330px;
    height: 198px;

    @media (max-width: 340px) {
      width: 300px;
      height: 180px;
    }
  }

  &__item-header {
    @include variables.header_500;
    margin: 32px 0 16px;
    color: variables.$gray_700;
  }

  &__paragraph {
    @include variables.body_large;
    color: variables.$gray_600;
    max-width: 330px;
    margin: 0;

    @media (max-width: 400px) {
      max-width: 300px;
    }
  }

  &__container {
    display: none;
    @media (min-width: variables.$tablet) {
      display: flex;
      padding: 50px 25px 0;
      margin: 0 0 50px 0;
      border-top: 1px solid variables.$gray_200;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 0 130px 0;
    }
  }

  &__article {
    max-width: 350px;
    margin: 0 20px;

    @media (min-width: variables.$desktop) {
      max-width: 572px;
    }
  }

  &__article-header {
    @include variables.header_300;
    font-weight: 600;
    margin: 0 0 32px 0;
  }

  &__article-paragraph {
    @include variables.body_large;
    font-weight: 400;
    margin: 0;
  }

  &__quote {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 328px;
    margin: 0 0 16px 0;

    @media (min-width: variables.$tablet) {
      font-size: 32px;
      line-height: 42px;
      max-width: 396px;
      margin: 0 0 6px 0;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: variables.$success_100;
        position: absolute;
        top: 64px;
        left: -30%;
      }
    }

    @media (min-width: variables.$desktop) {
      font-size: 40px;
      line-height: 45px;
      max-width: 568px;
      margin: 0 0 10px 0;
    }
  }

  &__special {
    color: variables.$success_500;
  }

  &__signature {
    @include variables.body_large;
    text-align: center;
    margin: 0;
  }
}