@use "../variables";

.br-contact-privacy {
  display: none;

  @media (min-width: 360px) {
    display: inline;
  }
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px 46px;

  @media (min-width: variables.$tablet) {
    z-index: 1;
    background-color: variables.$white;
    box-shadow: variables.$large_shadow;
    max-width: 700px;
    padding: 56px 60px;
    margin-bottom: 504px;
    position: relative;
  }

  @media (min-width: variables.$desktop_large) {
    padding: 80px 190px;
    max-width: 920px;
  }

  &__header {
    text-align: center;
    @include variables.body_medium;
    color: variables.$gray_700;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
      max-width: 540px;
      width: 100%;
    }
  }

  &__subtitle {
    text-align: center;
    @include variables.header_500;
    color: variables.$gray_700;
    margin: 0 0 30px 0;
    max-width: 320px;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      max-width: 514px;
      margin: 0 0 44px 0;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      margin: 0 0 72px 0;
    }
  }

  &__form {
    margin: 0 0 60px 0;
  }

  &__form-container {
    max-width: 328px;
    margin-bottom: 32px;

    @media (max-width: 360px) {
      max-width: 300px;
      padding: 10px;
    }

    @media (min-width: variables.$tablet) {
      max-width: 570px;
    }
  }

  &__label {
    @include variables.header_300;
    color: variables.$gray_700;
    display: block;
    margin: 0 0 8px 0;
    font-weight: 600;
  }

  &__input {
    display: block;
    width: 328px;
    height: 48px;
    padding: 12px 16px;
    font-weight: 400;
    border: 1px solid variables.$gray_300;
    border-radius: 4px;

    @media (max-width: 360px) {
      width: 280px;
    }

    &::placeholder {
      color: variables.$gray_600;
      @include variables.body_large;
    }

    @media (min-width: variables.$tablet) {
      width: 570px;
    }
  }

  &__textarea {
    padding: 12px 16px;
    border: 1px solid variables.$gray_300;
    border-radius: 4px;
    width: 328px;
    height: 216px;
    resize: none;

    &::placeholder {
      color: variables.$gray_600;
      @include variables.body_large;
    }

    @media (max-width: 360px) {
      width: 280px;
    }

    @media (min-width: variables.$tablet) {
      width: 570px;
    }
  }

  &__button {
    @include variables.header_300;
    width: 328px;
    height: 48px;
    color: variables.$white;
    background-color: variables.$success_500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    @media (max-width: 360px) {
      width: 300px;
    }

    &--smaller {
      @include variables.header_200;
      width: 255px;
      height: 40px;
      margin: 0 0 14px 0;

      @media (min-width: variables.$tablet) {
        display: none;
      }

      @media (max-width: 360px) {
        width: 220px;
      }
    }

    @media (min-width: variables.$tablet) {
      margin: 0 24px 0 0;
      width: 110px;
    }
  }

  &__privacy-container {
    @media (min-width: variables.$tablet) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__privacy {
    @include variables.header_100;
    margin: 0;
    font-weight: 400;
    color: variables.$gray_600;
    max-width: 330px;

    @media (max-width: 360px) {
      max-width: 290px;
    }

    @media (min-width: variables.$tablet) {
      max-width: 410px;
    }
  }

  &__privacy-link {
    font-weight: 600;
    color: variables.$gray_700;
  }

  &__info {
    padding: 30px 36px;
    border: 1px solid variables.$gray_200;
    max-width: 328px;
    width: 100%;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      max-width: 570px;
    }
  }

  &__container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$tablet) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  variables.$gray_700;
    margin: 0 0 14px 0;
  }

  &__icon {
    width: 46px;
    height: 46px;
    background-color: variables.$gray_100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__icon-inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--location {
      width: 18px;
      height: 20px;
      background-image: url("../assets/icons/map.svg");
    }

    &--telephone {
      width: 20px;
      height: 20px;
      background-image: url("../assets/icons/phone.svg");
    }
  }

  &__paragraph {
    @include variables.body_large;
    margin: 0;
    text-align: center;

    @media (min-width: variables.$tablet) {
      display: flex;
      flex-direction: column;

      .contact__city-span {
        max-width: 82px;
      }

      .contact__tel-span {
        max-width: 92px;
      }
    }
  }

  &__map-container {
    display: none;
    width: 10px;
    height: 10px;
    position: relative;

    @media (min-width: variables.$tablet) {
      display: block;
    }
  }

  &__map {
    display: none;

    @media (min-width: variables.$tablet) {
      display: block;
      position: absolute;
      top: -600px;
      left: -50vw;
      width: 100vw;
      height: 610px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../assets/img/map.png");
    }

    @media (min-width: variables.$desktop) {
      background-image: url("../assets/img/map-large.png");
    }
  }
}