@use "../variables";

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px 46px;

  &__header {
    text-align: center;
    @include variables.body_medium;
    color: variables.$gray_700;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__subtitle {
    text-align: center;
    @include variables.header_500;
    color: variables.$gray_700;
    margin: 0 0 30px 0;
    max-width: 320px;
  }

  &__form {
    margin: 0 0 60px 0;
  }

  &__form-container {
    max-width: 328px;
    margin-bottom: 32px;
  }

  &__label {
    @include variables.header_300;
    color: variables.$gray_700;
    display: block;
    margin: 0 0 8px 0;
    font-weight: 600;
  }

  &__input {
    display: block;
    width: 328px;
    height: 48px;
    padding: 12px 16px;
    font-weight: 400;
    border: 1px solid variables.$gray_300;
    border-radius: 4px;

    &::placeholder {
      color: variables.$gray_600;
      @include variables.body_large;
    }
  }

  &__textarea {
    padding: 12px 16px;
    border: 1px solid variables.$gray_300;
    border-radius: 4px;
    width: 328px;
    height: 216px;
    resize: none;

    &::placeholder {
      color: variables.$gray_600;
      @include variables.body_large;
    }
  }

  &__button {
    @include variables.header_300;
    width: 328px;
    height: 48px;
    color: variables.$white;
    background-color: variables.$success_500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;
    border-radius: 4px;
    border: none;

    &--smaller {
      @include variables.header_200;
      width: 255px;
      height: 40px;
      margin: 0 0 14px 0;
    }
  }

  &__privacy {
    @include variables.header_100;
    margin: 0;
    font-weight: 400;
    color: variables.$gray_600;
    max-width: 328px;
  }

  &__privacy-link {
    font-weight: 600;
    color: variables.$gray_700;
  }

  &__info {
    padding: 30px 36px;
    border: 1px solid variables.$gray_200;
    max-width: 328px;
    width: 100%;
  }

  &__container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  variables.$gray_700;
    margin: 0 0 14px 0;
  }

  &__icon {
    width: 46px;
    height: 46px;
    background-color: variables.$gray_100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__icon-inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--location {
      width: 18px;
      height: 20px;
      background-image: url("../assets/icons/map.svg");
    }

    &--telephone {
      width: 20px;
      height: 20px;
      background-image: url("../assets/icons/phone.svg");
    }
  }

  &__paragraph {
    @include variables.body_large;
    margin: 0;
    text-align: center;
  }
}