@use "../variables";

.hero {
  margin: 170px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 96px;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: variables.$success_100;
      position: absolute;
      bottom: -48px;
      right: 20%;
    }
  }

  &__image {
    order: -1;
    width: 328px;
    height: 320px;

    @media (min-width: 440px) {
      width: calc(328px + 10vw);
      height: calc(320px + 10vw);
    }

    @media (max-width: 340px) {
      width: 300px;
      height: 294px;
    }

    @media (min-width: 768px) {
      width: 330px;
      height: 400px;
    }
  }

  &__container {
    width: 100%;
    margin-top: 48px;

    @media (min-width: 768px) {
      margin: 0 0 0 32px;
    }
  }

  &__header {
    color: variables.$gray_600;
    margin: 0 0 10px 0;
    @include variables.body_medium;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: 768px) {
      text-align: start;
      @include variables.body_large;
    }
  }

  &__subtitle {
    @include variables.header_600;
    color: variables.$gray_700;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 330px;

    @media (min-width: 768px) {
      text-align: start;
      @include variables.header_700;
    }
  }

  &__special {
    color: variables.$success_500;
  }

  &__paragraph {
    color: variables.$gray_600;
    @include variables.body_medium;
    max-width: 330px;
    margin: 0 auto 30px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
      @include variables.body_large;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 188px;
    height: 48px;
    background-color: variables.$success_500;
    @include variables.header_300;
    color: variables.$white;
    margin: 0 auto 86px;
    border-radius: 4px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }
}