@use "../variables";

.hero {
  margin: 170px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: variables.$tablet) {
    flex-direction: row;
    margin-bottom: 96px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background-color: variables.$gray_100;
      border-radius: 50%;
      position: absolute;
      top: 24px;
      right: 90px;
    }

    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: variables.$success_100;
      position: absolute;
      bottom: -48px;
      right: 20%;
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: 150px;

      &:before {
        top: 80px;
        right: 298px;
      }

      &:after {
        bottom: 16px;
        right: 40%;
      }
    }
  }

  &__image-container {
    order: -1;

    @media (min-width: variables.$desktop) {
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: variables.$success_100;
        position: absolute;
        top: -10px;
        right: -4px;
        transform: rotate(45deg);
      }
    }
  }

  &__image-328w {
    width: 328px;
    height: 320px;

    @media (min-width: 440px) {
      width: calc(328px + 10vw);
      height: calc(320px + 10vw);
    }

    @media (max-width: 340px) {
      width: 300px;
      height: 294px;
    }

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  &__image-330w {
    display: none;

    @media (min-width: variables.$tablet) {
      display: block;
      width: 330px;
      height: 400px;
    }

    @media (min-width: variables.$desktop) {
      display: none;
    }
  }

  &__image-550w {
    display: none;

    @media (min-width: variables.$desktop) {
      display: block;
      width: 500px;
      height: 620px;
    }

    @media (min-width: variables.$desktop_large) {
      width: 550px;
      height: 650px;
    }
  }

  &__container {
    width: 100%;
    margin-top: 48px;

    @media (min-width: variables.$tablet) {
      margin: 0 0 0 32px;
      position: relative;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 0 112px 86px;

      &:before {
        content: "";
        display: block;
        width: 290px;
        height: 290px;
        position: absolute;
        bottom: -320px;
        right: -32px;
        background-image: url("../assets/img/hero-after.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 2;
      }

      &:after {
        content: "";
        display: block;
        width: 290px;
        height: 290px;
        position: absolute;
        bottom: -350px;
        right: -62px;
        border-radius: 50%;
        background-color: variables.$success_100;
        z-index: 1;
      }
    }
  }

  &__header {
    color: variables.$gray_600;
    margin: 0 0 10px 0;
    @include variables.body_medium;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: variables.$tablet) {
      text-align: left;
      @include variables.body_large;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 0 10px 6px;
    }
  }

  &__subtitle {
    @include variables.header_600;
    color: variables.$gray_700;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 330px;

    @media (min-width: variables.$tablet) {
      text-align: left;
      @include variables.header_700;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_800;
      max-width: 584px;
    }
  }

  &__special {
    color: variables.$success_500;
  }

  &__paragraph {
    color: variables.$gray_600;
    @include variables.body_medium;
    max-width: 330px;
    margin: 0 auto 30px;
    text-align: center;

    @media (min-width: variables.$tablet) {
      text-align: left;
      @include variables.body_large;
    }

    @media (min-width: variables.$desktop) {
      max-width: 584px;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 188px;
    height: 48px;
    background-color: variables.$success_500;
    @include variables.header_300;
    color: variables.$white;
    margin: 0 auto 86px;
    border-radius: 4px;

    @media (min-width: variables.$tablet) {
      margin: 0;
    }
  }

  &__more {
    display: none;
    text-decoration: none;

    @media (min-width: variables.$desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 16px;
      left: 36px;
    }
  }

  &__more-text {
    @include variables.body_small;
    color: variables.$gray_300;
    margin: 0 16px 0 0;
  }
}