@use "../variables";

.mediation {
  padding: 82px 16px 54px;
  background: variables.$gradient;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 400px) {
    padding: 82px 0 54px;
  }

  @media (min-width: variables.$tablet) {
    padding: 72px 16px 116px;
    position: relative;
  }

  &:before {
    content: "";
    display: block;
    width: 64px;
    height: 76px;
    position: absolute;
    top: -32px;
    left: 20%;
    background-image: url("../assets/icons/ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: variables.$success_100;
    position: absolute;
    top: 48px;
    right: 10%;

    @media (min-width: variables.$desktop) {
      right: 32%;
      top: 20px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-bottom: 88px;
    }
  }

  &__content {
    @media (min-width: variables.$desktop) {
      margin-right: 32px;
    }
  }

  &__header {
    @include variables.body_medium;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: center;
    color: variables.$gray_600;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
    }

    @media (min-width: variables.$desktop) {
      text-align: start;
      padding-left: 6px;
    }
  }

  &__subtitle {
    @include variables.header_500;
    color: variables.$gray_700;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 380px;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      max-width: 500px;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      text-align: start;
      margin: 0 0 30px 0;
      max-width: 572px;
    }
  }

  &__special {
    color: variables.$success_500;
  }

  &__paragraph {
    @include variables.body_medium;
    text-align: justify;
    max-width: 300px;
    margin: 0 auto 28px;

    &--1 {
      width: 238px;

      @media (min-width: variables.$tablet) {
        width: 530px;
      }
    }

    &--2 {
      width: 226px;

      @media (min-width: variables.$tablet) {
        width: 544px;
      }
    }

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
      max-width: 548px;
    }

    @media (min-width: variables.$desktop) {
      text-align: start;
      margin: 0 0 28px 0;
    }

    &--bigger {
      @include variables.header_400;
      margin-bottom: 42px;
      padding-top: 24px;
      border-top: 1px solid variables.$gray_200;
      width: 260px;

      @media (min-width: variables.$tablet) {
        max-width: none;
        width: 500px;
      }

      @media (min-width: variables.$desktop) {
        max-width: 568px;
      }
    }
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media (min-width: variables.$tablet) {
      width: 100%;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: variables.$success_100;
        position: absolute;
        bottom: 20%;
        right: 15%;
      }
    }

    @media (min-width: variables.$desktop) {
      width: auto;
      padding: 42px;

      &:after {
        bottom: -40px;
        right: 60%;
      }
    }
  }

  &__image-294w {
    width: 330px;
    margin: 56px 0 98px;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  &__image-527w {
    display: none;
    margin: 56px 0 98px;

    @media (min-width: variables.$tablet) {
      display: block;
      width: 537px;
    }

    @media (min-width: variables.$desktop) {
      margin: 0;
    }
  }
}