@use "../variables";

@mixin hamburger-line {
  width: 100%;
  height: 2px;
  background-color: rgba(black, 0.9);
  position: absolute;
}

.navigation {
  &__button {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 64px;
    right: 16px;
    border: solid 1px #0A0B11;
    padding: 12px 12px;
    border-radius: 4px;

    @media (min-width: 490px) {
      right: 40px;
    }

    @media (max-width: 340px) {
      padding: 8px 8px;
      height: 34px;
      top: 72px;
      right: 16px;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__box {
    width: 18px;
    height: 12px;
    display: inline-block;
    position: relative;

    @media (max-width: 340px) {
      padding: 8px 8px;
      width: 10px;
      height: 6px;
    }
  }

  &__inner {
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .1s ease-in-out;

    &::before, &::after {
      @include hamburger-line;
      content: "";
      left: 0;
      transition: transform .3s ease-in-out;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &--active .navigation__inner {
    background-color: transparent;
  }

  &--active .navigation__inner::before {
    transform: translateY(6px) rotate(45deg);
  }

  &--active .navigation__inner::after {
    transform: translateY(-6px) rotate(-45deg);
  }

  &__list {
    display: none;
    position: fixed;
    background-color: variables.$white;
    box-shadow: 0 44px 40px rgb(26 26 26 / 16%);;
    top: 120px;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 300px;
    padding: 0;
    margin: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--visible {
      display: flex;
    }

    @media (min-width: 1440px) {
      display: flex;
      flex-direction: row;
      box-shadow: none;
      height: auto;
      top: 72px;
      width: 580px;
      left: auto;
      right: 24px;
    }
  }

  &__item {
    margin: 16px 0;
    list-style: none;

    @media (min-width: 1440px) {
      margin: 0 15px;

      &--special {
        margin: 0 0 0 calc(80px + 4vw);
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          left: -86px;
          width: 62px;
          height: 1px;
          background-color: variables.$gray_700;
        }

        .navigation__link {
          @include variables.header_300;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: variables.$gray_700;
    @include variables.header_500;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: variables.$gray_300;
    }

    @media (min-width: 1440px) {
      @include variables.body_large;

      &--special {
        padding: 10px 24px;
        border: 1px solid variables.$gray_700;
        border-radius: 4px;
        transition: color, background-color 0.4s ease-in-out;

        &:hover {
          color: variables.$gray_300;
          background-color: variables.$gray_700;
        }
      }
    }
  }
}

