@use "../variables";

.offer {
  width: 100%;
  padding: 42px 16px 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$white;

  @media (min-width: variables.$tablet) {
    padding: 120px 40px 62px;
  }

  @media (min-width: variables.$desktop) {
    padding: 124px 40px;
  }

  &__header {
    @include variables.body_medium;
    color: variables.$gray_600;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    max-width: 324px;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
      max-width: 746px;
    }

    @media (min-width: variables.$desktop) {
      text-align: center;
      max-width: none;
    }
  }

  &__subtitle {
    @include variables.header_500;
    color: variables.$gray_700;
    margin: 0 0 16px 0;
    max-width: 328px;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      max-width: 750px;
      margin: 0 0 24px 0;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      text-align: center;
      max-width: 720px;
    }
  }

  &__paragraph {
    @include variables.body_medium;
    max-width: 328px;
    margin: 0 0 76px 0;
    text-align: justify;

    @media (min-width: variables.$tablet) {
      max-width: 750px;
      @include variables.body_large;
      margin: 0 0 90px 0;
    }

    @media (min-width: variables.$desktop) {
      max-width: 620px;
      text-align: center;
      margin: 0 0 76px 0;
    }
  }

  &__container {
    z-index: 1;
    @media (min-width: variables.$desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 500vw;
        height: 180px;
        position: absolute;
        bottom: -126px;
        left: -1000px;
        background-color: #DBE8EF;
      }
    }
  }

  &__article {
    padding: 32px 14px;
    border: 1px solid variables.$gray_200;
    display: flex;
    flex-direction: column;
    max-width: 328px;
    width: 100%;
    margin-bottom: 44px;
    border-radius: 4px;
    box-shadow: variables.$small_shadow;

    @media (min-width: variables.$tablet) {
      max-width: 450px;
      padding: 32px;
      z-index: 1;
      background-color: variables.$white;
    }

    @media (min-width: variables.$desktop) {
      max-width: 400px;
      margin: 0 8px;
      height: 552px;
    }

    @media (min-width: variables.$desktop_large) {
      max-width: 450px;
      margin: 0 16px;
    }
  }

  &__title {
    @include variables.header_700;
    color: variables.$gray_700;
    font-weight: 400;
    max-width: 232px;
    margin: 0 0 16px 0;
  }

  &__image {
    order: -1;
    width: 300px;
    height: 48px;
    margin-bottom: 24px;

    @media (min-width: variables.$tablet) {
      width: 386px;
    }

    @media (min-width: variables.$desktop) {
      width: 332px;
    }

    @media (min-width: variables.$desktop_large) {
      width: 386px;
    }
  }

  &__label {
    @include variables.body_large;
    margin: 0 0 16px 0;
    color: variables.$gray_700;
  }

  &__space {
    @media (min-width: variables.$desktop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }

  &__item {
    padding-left: 26px;
    margin-bottom: 12px;
    @include variables.header_200;
    font-weight: 600;
    position: relative;
    max-width: 264px;

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 0;
      background-image: url("../assets/icons/offer-dot.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: variables.$tablet) {
      max-width: 364px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 48px;
    @include variables.header_300;
    color: variables.$white;
    background-color: variables.$success_500;
    border-radius: 4px;

    @media (min-width: variables.$tablet) {
      max-width: 386px;
    }
  }
}