@use '../variables';

.price {
  padding: 0 16px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @media (min-width: variables.$tablet) {
    padding: 32px 40px 158px;
    position: relative;
    background: linear-gradient(180deg, #DBE8EF 0%, #fff 50%);
  }

  @media (min-width: variables.$desktop) {
    padding: 0 40px 286px;
  }

  &__header {
    @include variables.body_medium;
    font-weight: 400;
    color: variables.$gray_600;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    width: 100%;
    max-width: 324px;
    z-index: 2;

    @media (min-width: variables.$tablet) {
      @include variables.body_large;
      max-width: 746px;
    }

    @media (min-width: variables.$desktop) {
      text-align: center;
    }
  }

  &__subtitle {
    @include variables.header_500;
    font-weight: 400;
    color: variables.$gray_700;
    margin: 0 0 16px 0;
    width: 100%;
    max-width: 328px;
    z-index: 2;

    @media (min-width: variables.$tablet) {
      @include variables.header_600;
      margin: 0 0 26px 0;
      max-width: 750px;
    }

    @media (min-width: variables.$desktop) {
      @include variables.header_700;
      text-align: center;
    }
  }

  &__label {
    @include variables.body_medium;
    font-weight: 400;
    margin: 0 0 30px 0;
    color: variables.$gray_600;
    max-width: 328px;
    z-index: 2;

    @media (min-width: variables.$tablet) {
      max-width: 750px;
      @include variables.body_large;
      margin: 0 0 36px 0;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 0 76px 0;
    }

    @media (min-width: variables.$desktop) {
      text-align: center;
      max-width: 626px;
    }

    &--bigger {
      color: variables.$gray_700;
      @include variables.header_500;

      @media (min-width: variables.$tablet) {
        margin: 36px 0;
        @include variables.header_600;
      }

      @media (min-width: variables.$desktop) {
        max-width: 1066px;
        text-align: start;
        margin: 40px 0;
      }
    }
  }

  &__special {
    text-transform: uppercase;
  }

  &__articles {
    z-index: 2;

    @media (min-width: variables.$desktop) {
      display: flex;
      margin-bottom: 70px;
    }
  }

  &__article {
    padding: 32px;
    border: 1px solid variables.$gray_200;
    border-radius: 4px;
    box-shadow: variables.$small_shadow;
    margin: 0 0 20px 0;
    max-width: 400px;
    z-index: 2;

    @media (min-width: 768px) {
      background-color: variables.$white;
      width: 100%;
      max-width: 700px;
    }

    @media (min-width: variables.$desktop) {
      margin: 0 16px;
    }
  }

  &__article-header {
    color: variables.$gray_700;
    @include variables.header_300;
    margin: 0 0 16px 0;
  }

  &__paragraph {
    font-weight: 400;
    @include variables.header_300;
    color: variables.$gray_600;
    max-width: 328px;
    margin: 0;
    text-align: justify;

    &--margin {
      margin-bottom: 34px;
      text-align: left;
    }

    &--last {
      text-align: justify;

      @media (min-width: variables.$tablet) {
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 256px;
          height: 256px;
          background-color: variables.$success_100;
          border-radius: 50%;
          position: absolute;
          top: 104px;
          right: -96px;
          z-index: -1;
        }
      }

      @media (min-width: variables.$desktop) {
        &:after {
          top: 236px;
          right: 96px;
        }
      }
    }

    @media (min-width: variables.$tablet) {
      max-width: none;
      width: 472px;

      &--margin {
        width: auto;
      }
    }
  }

  &__list {
    margin: 0 0 32px 0;
    padding: 0;
    max-width: 490px;
    z-index: 2;

    @media (min-width: variables.$tablet) {
      max-width: 690px;
      padding-bottom: 44px;
      margin-bottom: 92px;
      border-bottom: 1px solid variables.$gray_200;
    }

    @media (min-width: variables.$desktop) {
      display: flex;
      max-width: none;
    }

    &--second {
      @media (min-width: variables.$desktop) {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 32px;
      }
    }
  }

  &__container {
    z-index: 2;

    @media (min-width: variables.$tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
    }
  }

  &__inner {
    @media (min-width: variables.$tablet) {
      margin-right: 32px;
    }
  }

  &__item {
    @include variables.body_large;
    font-weight: 400;
    color: variables.$gray_600;
    margin: 0 0 30px 18px;
    text-align: justify;

    @media (min-width: variables.$desktop) {
      margin: 0 32px;
      max-width: 366px;
    }

    &--special {
      margin: 0 0 0 18px;
      color: variables.$gray_700;
      @include variables.header_300;
      font-weight: 600;

      @media (min-width: variables.$desktop) {
        max-width: 386px;
      }
    }

    &--bad-justify {
      @media (min-width: variables.$desktop) {
        text-align: left;
        max-width: 254px;
      }
      @media (min-width: variables.$desktop_large) {
        text-align: justify;
        max-width: 366px;
      }
    }
  }

  &__border {
    padding: 10px;
    border: 1px solid variables.$gray_200;
    margin-bottom: 32px;

    @media (min-width: variables.$tablet) {
      display: none;
    }

    &--right {
      display: none;
      @media (min-width: variables.$tablet) {
        display: block;
        margin: 0;
        max-width: 256px;

        .price__item--special {
          display: list-item;
        }
      }

      @media (min-width: variables.$desktop) {
        padding: 32px;
        max-width: 450px;
      }
    }
  }

  &__subsection {
    z-index: 2;
    max-width: 328px;

    @media (min-width: variables.$tablet) {
      max-width: 750px;

      .price__subtitle {
        margin: 0 0 6px 0;
      }

      .price__paragraph--margin {
        margin: 0;
      }
    }

    @media (min-width: variables.$desktop) {
      max-width: 1276px;
    }
  }
}