@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display&display=swap');

@import "_variables";
@import "modules/site-header";
@import "modules/navigation";
@import "modules/hero";
@import "modules/mediation";
@import "modules/benefits";
@import "modules/about";
@import "modules/feedback";
@import "modules/offer";
@import "modules/price";
@import "modules/contact";
@import "modules/footer";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fefefe;
}

::-webkit-scrollbar-thumb {
  background: #C2C3C7;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0A1A5;
}

body {
  background: #fff;
  color: #656565;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
